/shared/bitrix/managed_cache
/shared/bitrix/cache
/shared/bitrix/html_pages
/shared/bitrix/tmp/
/shared/bitrix/backup/
/shared/bitrix/stack_cache/
/shared/bitrix/.settings.php
/shared/bitrix/php_interface/dbconn.php
/shared/bitrix/modules/serverfilelog*
/shared/bitrix/modules/updater.log
/shared/bitrix/modules/updater_partner.log
/shared/bitrix/modules/serverfileerrorlog.dat
/shared/bitrix/wizards/
/shared/bitrix/backup/
/shared/bitrix/site_checker*.log
/shared/upload/
/shared/bitrix/local/bitrix/managed_cache
/site1/local/bitrix/cache
/site1/local/bitrix/managed_cache
/site1/local/bitrix/php_interface/dbconn.php
